https://s3-geospatial.s3-us-west-2.amazonaws.com/survey_results_public.csv

## 한 컬럼의 값이 여러개인 데이터 처리

- `split`
- `explode`

In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

conf = SparkConf()
conf.set('spark.app.name', 'PySpark DataFrame 4')
conf.set('spark.master', 'local[*]')

spark = SparkSession.builder\
        .config(conf = conf)\
        .getOrCreate()

In [2]:
df = spark.read.csv('survey_results_public.csv', header = True)

df.show(5)

+----------+--------------------+--------------------+--------------------+--------+----------+--------------------+-------------+--------------------+---------+------------+--------------------+--------------------+-------------------+---------+--------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+-----------------------+-----------------------+----------------------------+----------------------------+-----------+--------------------+--------------------+--------------------+---------+--------------------+---------------+-------------+---------------+------+-----+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+-------------------+
|ResponseId|          MainBranch|          Employment|             Country|US_State|UK_Country|             EdLevel|   Age1stCode|           LearnCode|YearsCode|YearsCodePro|             DevType|             OrgSize|           Currency|CompTotal|CompFreq|LanguageHaveWorkedWith|LanguageWantToWorkWith|DatabaseHaveWorkedWith|DatabaseWantToWorkWith|PlatformHaveWorkedWith|PlatformWantToWorkWith|WebframeHaveWorkedWith|WebframeWantToWorkWith|MiscTechHaveWorkedWith|MiscTechWantToWorkWith|ToolsTechHaveWorkedWith|ToolsTechWantToWorkWith|NEWCollabToolsHaveWorkedWith|NEWCollabToolsWantToWorkWith|      OpSys|            NEWStuck|          NEWSOSites|         SOVisitFreq|SOAccount|          SOPartFreq|         SOComm|NEWOtherComms|            Age|Gender|Trans|           Sexuality|           Ethnicity|       Accessibility|     MentalHealth|        SurveyLength|          SurveyEase|ConvertedCompYearly|
+----------+--------------------+--------------------+--------------------+--------+----------+--------------------+-------------+--------------------+---------+------------+--------------------+--------------------+-------------------+---------+--------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+-----------------------+-----------------------+----------------------------+----------------------------+-----------+--------------------+--------------------+--------------------+---------+--------------------+---------------+-------------+---------------+------+-----+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+-------------------+
|         1|I am a developer ...|Independent contr...|            Slovakia|      NA|        NA|Secondary school ...|18 - 24 years|Coding Bootcamp;O...|       NA|          NA|   Developer, mobile|  20 to 99 employees|  EUR European Euro|     4800| Monthly|  C++;HTML/CSS;Java...|                 Swift|     PostgreSQL;SQLite|                SQLite|                    NA|                    NA|       Laravel;Symfony|                    NA|                    NA|                    NA|                     NA|                     NA|              PHPStorm;Xcode|                  Atom;Xcode|      MacOS|Call a coworker o...|      Stack Overflow|Multiple times pe...|      Yes|A few times per m...|Yes, definitely|           No|25-34 years old|   Man|   No|Straight / Hetero...|White or of Europ...|   None of the above|None of the above|Appropriate in le...|                Easy|              62268|
|         2|I am a student wh...|  Student, full-time|         Netherlands|      NA|        NA|Bachelor’s degree...|11 - 17 years|Other online reso...|        7|          NA|                  NA|                  NA|                 NA|       NA|      NA|     JavaScript;Python|                    NA|            PostgreSQL|                    NA|                    NA|                    NA|  Angular;Flask;Vue.js|                    NA|               Cordova|                    NA|        Docker;Git;Yarn|                    Git|        Android Studio;In...|                          NA|    Windows|Visit Stack Overf...|      Stack Overflow|Daily or almost d...|      Yes|Daily or almost d...|Yes, definitely|           No|18-24 years old|   Man|   No|Straight / Hetero...|White or of Europ...|   None of the above|None of the above|Appropriate in le...|                Easy|                 NA|
|         3|I am not primaril...|  Student, full-time|  Russian Federation|      NA|        NA|Bachelor’s degree...|11 - 17 years|Other online reso...|       NA|          NA|                  NA|                  NA|                 NA|       NA|      NA|  Assembly;C;Python...|     Julia;Python;Rust|                SQLite|                SQLite|                Heroku|                    NA|                 Flask|                 Flask|  NumPy;Pandas;Tens...|  Keras;NumPy;Panda...|                     NA|                     NA|        IPython/Jupyter;P...|        IPython/Jupyter;R...|      MacOS|Visit Stack Overf...|Stack Overflow;St...|Multiple times pe...|      Yes|Multiple times pe...|Yes, definitely|          Yes|18-24 years old|   Man|   No|   Prefer not to say|   Prefer not to say|   None of the above|None of the above|Appropriate in le...|                Easy|                 NA|
|         4|I am a developer ...|  Employed full-time|             Austria|      NA|        NA|Master’s degree (...|11 - 17 years|                  NA|       NA|          NA|Developer, front-end|100 to 499 employees|  EUR European Euro|       NA| Monthly|  JavaScript;TypeSc...|  JavaScript;TypeSc...|                    NA|                    NA|                    NA|                    NA|        Angular;jQuery|        Angular;jQuery|                    NA|                    NA|                     NA|                     NA|                          NA|                          NA|    Windows|Call a coworker o...|      Stack Overflow|Daily or almost d...|      Yes|Daily or almost d...|        Neutral|           No|35-44 years old|   Man|   No|Straight / Hetero...|White or of Europ...|I am deaf / hard ...|               NA|Appropriate in le...|Neither easy nor ...|                 NA|
|         5|I am a developer ...|Independent contr...|United Kingdom of...|      NA|   England|Master’s degree (...| 5 - 10 years|Friend or family ...|       17|          10|Developer, deskto...|Just me - I am a ...|GBP\tPound sterling|       NA|      NA|  Bash/Shell;HTML/C...|  Bash/Shell;HTML/C...|  Elasticsearch;Pos...|  Cassandra;Elastic...|                    NA|                    NA|                 Flask|                 Flask|  Apache Spark;Hado...|   Hadoop;NumPy;Pandas|   Docker;Git;Kubern...|   Docker;Git;Kubern...|        Atom;IPython/Jupy...|        Atom;IPython/Jupy...|Linux-based|Visit Stack Overf...|Stack Overflow;St...|Daily or almost d...|      Yes|A few times per week|  Yes, somewhat|           No|25-34 years old|   Man|   No|                  NA|White or of Europ...|   None of the above|               NA|Appropriate in le...|                Easy|                 NA|
+----------+--------------------+--------------------+--------------------+--------+----------+--------------------+-------------+--------------------+---------+------------+--------------------+--------------------+-------------------+---------+--------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+-----------------------+-----------------------+----------------------------+----------------------------+-----------+--------------------+--------------------+--------------------+---------+--------------------+---------------+-------------+---------------+------+-----+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+-------------------+
only showing top 5 rows

In [3]:
import pyspark.sql.functions as f

df = df.select(f.col('ResponseId'), f.col('LanguageHaveWorkedWith'), f.col('LanguageWantToWorkWith'))

df.show(5)

+----------+----------------------+----------------------+
|ResponseId|LanguageHaveWorkedWith|LanguageWantToWorkWith|
+----------+----------------------+----------------------+
|         1|  C++;HTML/CSS;Java...|                 Swift|
|         2|     JavaScript;Python|                    NA|
|         3|  Assembly;C;Python...|     Julia;Python;Rust|
|         4|  JavaScript;TypeSc...|  JavaScript;TypeSc...|
|         5|  Bash/Shell;HTML/C...|  Bash/Shell;HTML/C...|
+----------+----------------------+----------------------+
only showing top 5 rows

In [4]:
df_trim = df.withColumn('language_have', f.split(f.col('LanguageHaveWorkedWith'), ';'))

df_trim.show(5, truncate = False)

+----------+---------------------------------------------+------------------------------+----------------------------------------------------+
|ResponseId|LanguageHaveWorkedWith                       |LanguageWantToWorkWith        |language_have                                       |
+----------+---------------------------------------------+------------------------------+----------------------------------------------------+
|1         |C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift|Swift                         |[C++, HTML/CSS, JavaScript, Objective-C, PHP, Swift]|
|2         |JavaScript;Python                            |NA                            |[JavaScript, Python]                                |
|3         |Assembly;C;Python;R;Rust                     |Julia;Python;Rust             |[Assembly, C, Python, R, Rust]                      |
|4         |JavaScript;TypeScript                        |JavaScript;TypeScript         |[JavaScript, TypeScript]                            |
|5         |Bash/Shell;HTML/CSS;Python;SQL               |Bash/Shell;HTML/CSS;Python;SQL|[Bash/Shell, HTML/CSS, Python, SQL]                 |
+----------+---------------------------------------------+------------------------------+----------------------------------------------------+
only showing top 5 rows

In [5]:
df_trim = df.withColumn('language_have', f.split(f.trim(f.col('LanguageHaveWorkedWith')), ';'))\
            .withColumn('language_want', f.split(f.trim(f.col('LanguageWantToWorkWith')), ';'))

df_trim.show(5, truncate = False)

+----------+---------------------------------------------+------------------------------+----------------------------------------------------+-----------------------------------+
|ResponseId|LanguageHaveWorkedWith                       |LanguageWantToWorkWith        |language_have                                       |language_want                      |
+----------+---------------------------------------------+------------------------------+----------------------------------------------------+-----------------------------------+
|1         |C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift|Swift                         |[C++, HTML/CSS, JavaScript, Objective-C, PHP, Swift]|[Swift]                            |
|2         |JavaScript;Python                            |NA                            |[JavaScript, Python]                                |[NA]                               |
|3         |Assembly;C;Python;R;Rust                     |Julia;Python;Rust             |[Assembly, C, Python, R, Rust]                      |[Julia, Python, Rust]              |
|4         |JavaScript;TypeScript                        |JavaScript;TypeScript         |[JavaScript, TypeScript]                            |[JavaScript, TypeScript]           |
|5         |Bash/Shell;HTML/CSS;Python;SQL               |Bash/Shell;HTML/CSS;Python;SQL|[Bash/Shell, HTML/CSS, Python, SQL]                 |[Bash/Shell, HTML/CSS, Python, SQL]|
+----------+---------------------------------------------+------------------------------+----------------------------------------------------+-----------------------------------+
only showing top 5 rows

In [6]:
df_have = df_trim.select('ResponseId',
                         f.explode('language_have').alias('language_have'))

df_have.show(5)

+----------+-------------+
|ResponseId|language_have|
+----------+-------------+
|         1|          C++|
|         1|     HTML/CSS|
|         1|   JavaScript|
|         1|  Objective-C|
|         1|          PHP|
+----------+-------------+
only showing top 5 rows

In [7]:
df_want = df_trim.select('ResponseId',
                         f.explode('language_want').alias('language_want'))

df_want.show(5)

+----------+-------------+
|ResponseId|language_want|
+----------+-------------+
|         1|        Swift|
|         2|           NA|
|         3|        Julia|
|         3|       Python|
|         3|         Rust|
+----------+-------------+
only showing top 5 rows

### 정렬

SQL의 `ORDER BY`를 Spark로 해본다.

In [14]:
df_have_count = df_have.groupby('language_have').count()

df_have_count.show(10)

+-------------+-----+
|language_have|count|
+-------------+-----+
|           C#|22984|
|          VBA| 3847|
|         Rust| 5799|
|   Bash/Shell|22385|
|   JavaScript|53587|
|           NA| 1082|
|         Perl| 2028|
|       Erlang|  651|
|       Matlab| 3846|
|      Crystal|  466|
+-------------+-----+
only showing top 10 rows

In [16]:
df_have_count.sort('count').show(10)

+-------------+-----+
|language_have|count|
+-------------+-----+
|        COBOL|  437|
|      Crystal|  466|
|          APL|  536|
|       Erlang|  651|
|           F#|  804|
|        Julia| 1068|
|           NA| 1082|
|         LISP| 1096|
|       Elixir| 1438|
|      Clojure| 1552|
+-------------+-----+
only showing top 10 rows

In [17]:
df_have_count.sort(f.desc('count')).show(10)

+-------------+-----+
|language_have|count|
+-------------+-----+
|   JavaScript|53587|
|     HTML/CSS|46259|
|       Python|39792|
|          SQL|38835|
|         Java|29162|
|      Node.js|27975|
|   TypeScript|24909|
|           C#|22984|
|   Bash/Shell|22385|
|          C++|20057|
+-------------+-----+
only showing top 10 rows

In [19]:
df_have_count.orderBy('count').show(10)

+-------------+-----+
|language_have|count|
+-------------+-----+
|        COBOL|  437|
|      Crystal|  466|
|          APL|  536|
|       Erlang|  651|
|           F#|  804|
|        Julia| 1068|
|           NA| 1082|
|         LISP| 1096|
|       Elixir| 1438|
|      Clojure| 1552|
+-------------+-----+
only showing top 10 rows

In [20]:
df_have_count.orderBy('count', ascending = False).show(10)

+-------------+-----+
|language_have|count|
+-------------+-----+
|   JavaScript|53587|
|     HTML/CSS|46259|
|       Python|39792|
|          SQL|38835|
|         Java|29162|
|      Node.js|27975|
|   TypeScript|24909|
|           C#|22984|
|   Bash/Shell|22385|
|          C++|20057|
+-------------+-----+
only showing top 10 rows